RewriteEngine On
RewriteCond %(REQUEST_ALDENCO.GITHUB.IO) !-f
RewriteCond %(REQUEST_ALDENCO.GITHUB.IO)/.html -d
RewriteRule ^(.*)$ $1.html



    RewriteEngine on
RewriteBase /
RewriteCond %{http://www.alexrmyers.com/Home} !(\.[^./]+)$
RewriteCond %{REQUEST_HOME.html} !-d
RewriteCond %{REQUEST_HOME.html} !-f
RewriteRule (.*) /$1.html [L]
RewriteCond %{REQUEST_HOME} ^[A-Z]{3,9}\ /([^.]+)\.html\ HTTP
RewriteRule ^([^.]+)\.html$ http://www.alexrmyers.com/home [R=301,L]