html  {
    background: #1D1D1D;
}


body {
    margin: 40px;
    }
    
    .sidebar {
    grid-area: sidebar;
    color: #e8dfe8;
    padding-left: 3em;
    }

    i {
        display:inline-block;
        margin-right: 1em;
    }
    
    .content {
    grid-area: content;
    position: relative;
    z-index: -1;
    }
    
    .header {
    grid-area: header;
    }
    
    .footer {
    grid-area: footer;
    }
    
    .wrapper {
        display: grid;
    grid-gap: 10px;
        grid-template-columns: 200px 200px 200px;
        grid-template-areas:
    "header  header  header"
        "sidebar content content"
        "footer  footer  footer";
        background-color: #fff;
        color: #444;
    }
    
    
    .box {
    background-color:#1D1D1D;
    color: #e8dfe8;
    border-radius: 5px;
    padding: 50px;
    font-size: 100%;
    }
    
    .header,
    .footer {
    background-color: #999;
    }
    
    .topleft {
    position: absolute;
    top: 0;
    left: 0;
    }
    
    .topright {
    position: absolute;
    top: 0;
    right: 0;
    height: 49.5%;
    width:20%;
    }
    
    .bottomleft {
    position: absolute;
    bottom: 0;
    left: 0;
    }
    
    .bottomright {
    position: absolute;
    bottom: 0;
    right: 0;
    }
    
    